<ion-view title="About Me" class="backy">
  <ion-content>
    <div class="card">
      <div class="item item-divider">Name</div>
      <div class="item item-text-wrap">
        Ankit 
      </div>
    </div>
      <div class="card">
          <div class="item item-divider">Dev Username</div>
          <div class="item item-text-wrap">
              Solodynamo
          </div>
      </div>
      <div class="card">
          <div class="item item-divider">Gets High On</div>
          <div class="item item-text-wrap">
              <!--<i class="icon ion-pizza"></i> Pizzaz,<i class="icon ion-coffee"></i>  ColdCoffee,Friends,Code.-->
              <ion-list>
                  <ion-item><i class="icon ion-pizza"></i>   Pizzaz</ion-item>
                  <ion-item><i class="icon ion-coffee"></i>  ColdCoffee</ion-item>
                  <ion-item><i class="icon ion-person"></i>  Friends</ion-item>
                  <ion-item><i class="icon ion-code"></i>  Code</ion-item>
                  <ion-item><i class="icon ion-playstation"></i>  playstation</ion-item>
              </ion-list>
          </div>
      </div>
      <div class="card">
          <div class="item item-divider">Gets Screwed Up</div>
          <div class="item item-text-wrap">
              <!--Errors,Battery Low,DoubleFaced people.-->
              <ion-list>
                  <ion-item><i class="icon ion-bug"></i>    Errors</ion-item>
                  <ion-item><i class="icon ion-battery-charging"></i>  Battery Low</ion-item>
                  
              </ion-list>
          </div>
      </div>
  </ion-content>
</ion-view>
