<ion-view title="Education">
    <ion-content>
        <div class="card">
            <div class="item item-divider">10<sup>th</sup></div>
            <div class="item">Cambridge Foundation School</div>
        </div>

        <div class="card">
            <div class="item item-divider">12<sup>th</sup></div>
            <div class="item">Cambridge Foundation School</div>
        </div>

        <div class="card">
            <div class="item item-divider">Btech<sup>still ..</sup></div>
            <div class="item item-text-wrap">Bhagwan Parshuram Institute Of Technology</div>
        </div>
    </ion-content>
</ion-view>