<ion-view title="Education">

    <div class="card">
        <div class="item item-divider">10<sup>th</sup></div>
        <div class="item">Cambridge Foundation School</div>
   </div>
    
    <div class="card">
        <div class="item item-divider">12<sup>th</sup></div>
        <div class="item">Cambridge Foundation School</div>
    </div>

    <div class="card">
        <div class="item item-divider">Btech<sup>still ..</sup></div>
        <div class="item">Bhagwan Parshuram Institute Of Technology</div>
    </div>
</ion-view>