<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<widget id="com.ionicinaction.demo" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
  <name>Resume App</name>
  <description>
    Demo of Ionic.
    </description>
  <author email="bittuf3@gmail.com" >
      Ionic in Action
    </author>
  <content src="index.html"/>
  <access origin="*"/>
  
  
</widget>
