<ion-view title="social">
  
      <ion-content>

    <div class="card">

        <div class="item item-divider">
            Facebook
        </div>

        <a>www.facebook.com/solodynamo</a>
    </div>


          <div class="card">
            <div class="item item-divider">
                LinkedIn
                </div>
              <a >www.linkedin.com/solodynamo</a>

          </div>

          <div class="card">
              <div class="item item-divider">
                  Twitter
              </div>
              <a>www.twitter.com/solodynamo</a>
          </div>
    </ion-content>




</ion-view>