<ion-view title="social">
  
      <ion-content>

    <div class="card">

        <div class="item item-divider">
            <i class="icon ion-social-facebook"></i>    
        </div>

            <a>www.facebook.com/solodynamo</a>
    </div>


          <div class="card">
            <div class="item item-divider">
                <i class="icon ion-social-linkedin"></i>
                </div>
              <a >www.linkedin.com/solodynamo</a>

          </div>

          <div class="card">
              <div class="item item-divider">
                  <i class="icon ion-social-twitter"></i>
              </div>
              <a>www.twitter.com/solodynamo</a>
          </div>
          
          <div class="card">
              <div class="item item-divider">
                  <i class="icon ion-social-github"></i>
              </div>
              <a> www.github.com/solodynamo</a>
          </div>
    </ion-content>




</ion-view>