
<ion-view title="BackEnd">
    <ion-content>
        <ul class="list">

            <li class="item item-divider">Languages</li>
            <li class="item">Javascript</li>
            
            
            <li class="item item-divider">Frameworks</li>
            <li class="item">Node JS</li>
            <li class="item">Express JS</li>
            <li class="item item-divider">Cloud Computing</li>
            <li class="item">Google Cloud Services</li>
            <li class="item item-divider">Database</li>
            <li class="item">Mysql</li>
            <li class="item">MongoDB</li>


        </ul>



    </ion-content>




</ion-view>