<ion-view title="Laurels">
    <ion-content>
        <div class="card">
            <div class="item item-divider">Hackathon</div>
            <div class="item item-text-wrap">3<sup>rd</sup> in <i>HackerEarth</i> sponsored hackathon.</div>
        </div>

        <div class="card">
            <div class="item item-divider">Writing</div>
            <div class="item item-text-wrap">1<sup>st</sup> in <i>Indian Govt</i> sponsored yoga day article writing competition.</div>
        </div>

        <div class="card">
            <div class="item item-divider">Social Cause</div>
            <div class="item item-text-wrap">Actively participated in Young Age India movement and collected and contributed donations for old people .</div>
        </div>

        <div class="card">
            <div class="item item-divider">Quiz</div>
            <div class="item item-text-wrap">Participated in Limca Book Of World Records Quiz and came in top 20 of schools among 118 schools .</div>
        </div>

        <div class="card">
            <div class="item item-divider">Painting</div>
            <div class="item item-text-wrap">Participated in Fevicol Painting Competition .</div>

        </div>
    </ion-content>
</ion-view>