<ion-view title="Skills">

    <ion-tabs class="tabs-icon-top">
    <ion-tab icon="ion-fork" title="Frontend" href="#/Skills/frontend">
      <ion-nav-view name="frontend"></ion-nav-view>
    </ion-tab>
    <ion-tab icon="ion-ios7-sunny" title="Backend" href="#/Skills/backend">
      <ion-nav-view name="backend"></ion-nav-view>
    </ion-tab>
    <ion-tab icon="ion-images" title="Testing" href="#/Skills/testing">
      <ion-nav-view name="testing"></ion-nav-view>
    </ion-tab>
  </ion-tabs>



</ion-view>