<ion-view title="hobbies">


    <ion-content>
        <div class="card"><div class="item item-divider">Sketching Caricatures          <i class="icon ion-happy"></i></div></div>

        <div class="card"><div class="item item-divider">Basketball                     <i class="icon ion-ios7-baseball"></i></div></div>

        <div class="card"><div class="item item-divider">Travelling                    <i class="icon ion-jet"></i></div></div>

        <div class="card"><div class="item item-divider">Reading TechBlogs              <i class="icon ion-code"></i></div></div>

        <div class="card"><div class="item item-divider">Playstation                    <i class="icon ion-playstation"></i></div></div>
    </ion-content>


    

</ion-view>